.card {
  min-width: calc((70vw - 100px) / 4);
  height: 10rem;
  margin-right: 20px;
  background-color: var(--primary) !important;
  color: var(--white) !important;
  cursor: pointer;
}

.card:first-child {
  margin-left: 20px;
}
